*{
  box-sizing: border-box;
  font-family: "Karla", serif;
  margin: 0;
}

body{
  margin: 0;
  background-color: #0B2434;
}

#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  background-color: #F5F5F5;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 2.5rem 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.dice__container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: min(24px, 5vw);
  margin-block: 1.5rem;
}

.die{
  width: 40px;
  aspect-ratio: 1;
  border-radius: 3.81px;
  border: none;
  background-color: #FFFFFF;
  color: #2B283A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
}
.die.held{
  background-color: #59E391;
}

h1{
  font-size: 30px;
  letter-spacing: -1px;
  color: #2B283A;
}

p{
  font-family: "Inter", serif;
  font-size: 15px;
  color: #4A4E74;
  text-align: center;
  width: 30ch;
  margin-top: 0.25rem;
}

.roll-btn{
  border-radius: 4px;
  padding-inline: 1.5rem;
  height: 40px;
  border: none;
  background-color: #5035FF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 3.2px 7.68px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.counter{
  width: 100%;
  display: flex;
  align-items: center;
  color: #2B283A;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0.5rem;
}

.counter p{
  display: flex;
  flex-direction: column;
}

.counter p span{
  font-size: 20px;
  color: #4A4E74;
  font-weight: 700;
}